main{
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F7FF;
    width: 95%;
    margin: 0 auto;
}
.emptyCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: wheat;
}